.leaflet-control-attribution {
  font-size: 8px;
  bottom: 4px !important;
  opacity: 0.4;
}

/* Find My style green pulse */
.us-pulse {
  position: relative;
}
.us-pulse img {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, .9));
}

.us-pulse::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(0, 255, 0, 0.3);
  animation: pulse 1.8s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0.8;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0.0;
  }
  100% {
    opacity: 0;
  }
}

.leaflet-marker-pane {
  z-index: 20000 !important;
}

.leaflet-overlay-pane {
  z-index: 10000 !important;
}
/* Mobile refinement */
@media (max-width: 600px) {
  .us-pulse::after {
    width: 36px;
    height: 36px;
    background: rgba(0, 255, 0, 0.22); /* a bit tighter glow */
  }

  .us-pulse img {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, .8));
  }
}
