.leaflet-control-attribution {
  font-size: 8px;
  bottom: 4px !important;
  opacity: 0.4;
}

/* Find My style green pulse */
.us-pulse {
  position: relative;
}

.us-pulse::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(0, 255, 0, 0.3);
  animation: pulse 1.8s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0.8;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0.0;
  }
  100% {
    opacity: 0;
  }
}
